:root{
    --b-principal: #ffffff;
    --c-sencundario:#C0C0C0;
    --b-azul:#167BF7;
--cor-fundo:#00030C;

}
body{
    background-color: var(--cor-fundo);
    color: var(--b-principal);
}
*{
margin: 0;
padding: 0;

}
.container{
height: 100vh;
display: grid;
grid-template-columns: 50% 50%;


}
.container__botao{
background-color: var(--b-azul);
border-radius: 5px;
padding: 1em;
color: var(--b-principal);
display: block;

}
.botao__secundario{
background-color: transparent;
border: 2px solid var(--b-principal);
}